label {
  font-weight: bolder;
}
::placeholder {
  color: lightskyblue !important;
  opacity: 3;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: lightskyblue !important;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: lightskyblue !important;
  opacity: 3;
}
h1 {
  text-align: center;
}
#msg {
  height: 60px;
}
#grid-alimentos tbody {
  cursor: pointer;
}



#labelTotCalorias{
 font-size: 30px;
 text-align: center;
 
 display: block;


}

#inputTotCalorias{

  height: 50px;
  width: 500px;
  display: block;
  margin-left: 700px;
  font-size: 30px;
  margin-bottom: 20px;
 


}

#inputTotCarboidratos, #labelTotCarboidratos{

  margin-left: 600px;


}

#inputTotProteinas, #inputTotGorduras {

  margin-left: 50px;

}

#labelTotProteinas {

  margin-left: 90px;


}

#labelTotGorduras{

  margin-left: 120px;



}

#labelNome, #inputNome{


  margin-left: 650px;

}

#inputCalorias{

  margin-left: 100px;


}

#labelCalorias{



  margin-left: 240px;
}


#inputCalorias, #inputNome{

  margin-bottom: 10px;



}



#labelCarboidratos{

  margin-left: 500px;

}


#labelProteinas{

  margin-left: 190px;


}

#labelGorduras{

  margin-left: 220px;


}

#inputCarboidratos{

  margin-left: 500px;


}


#inputProteinas, #inputGorduras{

  margin-left: 100px;


}

#btnAddAlimento, #btnRemoveAlimento, #btnReiniciar{

  margin-bottom: 30px;
  margin-top: 20px;
  transition-duration: 0.4s;
  font-size: 20px;


}

#btnAddAlimento:hover{

  background-color: green;
  color: white;


}



#btnAddAlimento{


  margin-left: 600px;
  border-color: green;
  background-color: white;
  border-radius: 4px;


}

#btnRemoveAlimento, #btnReiniciar{

  margin-left: 50px;
  background-color: white;
  border-radius: 4px;


}

#btnRemoveAlimento{

  border-color: red;

}

#btnRemoveAlimento:hover{

  background-color: red;
  color: white;


}

#btnReiniciar{

  border-color: yellow;

}

#btnReiniciar:hover{

  background-color: yellow;
  color: black;


}

.header{
  background-color: #40e0d0;
}

.logo1 {
text-align: left;
width: 160px;
height: 80px;
}

.balimentos{
  text-align: center;
}


.alimento{
  height: 80px;
  text-align: center;
  padding-bottom: 20px;
}

.sugestoes{
  padding-bottom: 20px;
  padding-top: 20px;
}
.salimento{
  width: 270px;
  padding-bottom: 40px;
}

.busca{
  padding-bottom: 60px;
  padding-top: 20px;
  height: 60px;
  font-size: xx-large;
  
}

.tabela{
max-width: 100%;
}

.titulo2{
  
  
  max-width: 100%;
  text-align: center;
  font-size: 1.5em;

}


.btn{
  
}

.tabela{
  width: 400px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.resultados{
  height: 80px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.titulo{
  
  
  max-width: 100%;

  font-size: x-large;
}




.primeiro{
  background-color: #ff6961;
  text-align: center;
}

.primeiro h1.titulo{
max-width: 100%;
}

.h1.titulo2{
  max-width: 100%;
  word-wrap: break-word;
}

img.salimento{
  max-width: 100%;
}

.segundo{
  text-align: center;
  padding-bottom: 20px;
  background-color: #40e0d0;
}

.terceiro{
  background-color: #ff6961;
  text-align: center ;
  padding-right: 
  20px;
  padding-bottom: 20px;
}

.linha{
  background-color: white;
  height: 20px;
}

.footer{
  background-color: #40e0d0;
}

.logo2{
  text-align: right;
height: 80px;
width: 180px;
}